<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="developerDao" class="com.myAssortment.model.DeveloperDao" />

    <bean class="com.myAssortment.model.DeveloperProcessor"></bean>

    <bean class="com.myAssortment.controller.DeveloperController"></bean>

    <bean id="developer" class="com.myAssortment.model.Developer" />
    <bean id="developerRowMapper" class="com.myAssortment.model.DeveloperRowMapper" />

    <bean id="dataBaseConnector" class="com.myAssortment.model.DeveloperRowMapper" />

</beans>